<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="./images/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main_content">
        {{>headers}}
        <p>This site was created by Vedant Kedia. It uses data from Mapbox.com!</p>
        <img class="portrait" src="./images/tempsnip.png">
    </div>
    {{>footer}}
</body>

</html>